# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @S3B4SZ17 and @sysdiglabs/demo-ecosystem-a-team will be requested for
# review when someone opens a pull request.
*       @S3B4SZ17 @sysdiglabs/demo-ecosystem-a-team
